* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/**Estilos globales*/

.oculto {
    display: none;
}

.red {
    border: 1px solid red;
}

.clearfix {
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}


/*Header**/

div.header {
    width: auto;
    background-color: #c0392b;
    margin-bottom: 1rem;
}

div.enlaces-estudios {
    padding-top: 0.3rem;
}

div.header div.enlaces-estudios>div {
    float: left;
}

div.logo-instituto {
    width: 19.9%;
}

div.logo-instituto {
    padding-left: 0.6rem;
}

div.nombre-escuela {
    text-align: center;
    width: 49.9%;
    margin: auto 2rem;
}

div.logo-escuela {
    width: 16%;
}

div.enlaces-escuela {
    width: 5%;
}


/*
div.logo-instituto {
    margin-left: 1.2rem;
    margin-right: 20rem;
}

div.logo-escuela {
    margin-left: 18rem;
    margin-right: 1.2rem;
}*/

img.imagen-instituto,
img.imagen-escuela {
    height: 100px;
}

div.enlaces-escuela>a {
    display: block;
}


/**contenido*/

div.contenido>div {
    float: left;
}


/**iniciar sesion -- form */


/**global*/

.espacios {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

div.formulario {
    width: 19.9%;
}

form.formulario-inicio-sesion>div {
    text-align: center;
}

form.formulario-inicio-sesion>div>div>label {
    display: block;
}


/**captcha*/

div.imagen-captcha {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

div.imagen-captcha img {
    width: 90px;
    height: 50px;
}

div.resultado-captcha>label {
    display: block;
}

div.resultado-captcha {
    margin-bottom: 0.7rem;
}


/**visualizacion de resultados*/

div.visualizacion-de-opciones {
    width: 65.9%;
}

div.opcion-general a {
    margin-right: 0.8rem;
    transition: 0.3s;
}

div.opcion-general a:hover {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

div.contenido-principal-inner>div {
    height: 89.9%;
    width: 89.9%;
}


/**foter de visualizacion*/

div.enlaces-institucionales {
    margin: 5rem auto;
}

div.enlaces-institucionales>p {
    display: inline;
}


/** accesos rapidos*/

div.accesos-rapidos {
    width: 10%;
}

div.accesos-rapidos>div {
    text-align: center;
}

div.enlaces-accesos {
    margin: 1px;
}

div.enlaces-accesos a {
    display: block;
    margin-bottom: 1.1rem;
    transition: 0.3s;
}

div.enlaces-accesos a:hover {
    font-size: 1.1rem;
    border-bottom: 1px solid black;
}


/**acceso a las opciones de los alumnos*/

div.elementos-hacia-abajo {
    width: 59.9%;
    padding-bottom: 0.5rem;
    position: relative;
}

div.elementos-hacia-abajo {
    text-align: center;
}

div.elementos-hacia-abajo>div {
    position: absolute;
    top: 0.1rem;
    left: 10rem;
}

div.elementos-hacia-abajo>div>a {
    display: block;
    background-color: #c0392b;
    padding-bottom: 0.7rem;
}